{% extends "index.html.twig" %}

{% block body %}

<main id="main">
    <section class="section">
        <div class="container mt-4">   
            <h2>TEST</h2>
            <p>TEST</p>
        </div>
    </section>
</main>

{% endblock %}