<form method="post" class="mb-4">
    <select name="order">
        <option value="ASC">Prix - vers +</option>
        <option value="DESC">Prix + vers -</option>
    </select>
    <div class="text-center button"><button type="submit">Filtrer</button></div>
</form>